body {
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

header {
    background-color: red;
}

ul {
    background: linear-gradient(to bottom right, black, grey );
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight:bolder;
    font-size: 18px;
    font-family: 'Catamaran',sans-serif;

}

ul li a:hover {
    color: black;
    background-color: red;

}

a:hover{
    padding: 15px;
}


@font-face{
    font-family: 'Super Mario';
    src: url(../fonts/chlorinap/CHLORINP.TTF) format('truetype');
    font-family: 'Catamaran';
    src: url(../fonts/catamaran/Catamaran.ttf) format('truetype');
}

#titulocabecera{
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.titulos{
    font-family: 'Catamaran',sans-serif;
    text-align: center;
    font-size: 40px;
    color: #000;
}

#imagenpresentacion{
    width: 50%;
    height: 50%;
}
#parrafopresentacion{
    position: absolute;
    margin-left: 52%;
    margin-top: 3%;
    font-size: 30px; 
}

.btn-2 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:  -12%;
    margin-left: 65%;
  }

  .btn-2 a {
    text-decoration: none;
    border: 2px solid #010100;
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
  }

.btn-2 a:hover::after {
    transform: scaleX(0);
  }
  
  /* Button 2 styles */
  
  .btn-2 a {
    color: #ffffff;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-2 a:hover {
    color: linear-gradient(to bottom right, black, grey );;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-2 a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  
  .btn-2 a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }

  span {
    position: relative;
    z-index: 3;
  }
  .btn-2 a:hover::before {
    transform: scaleY(0);
  }

  .secciones{
    display: flex;
    flex-wrap: nowrap;
    background-color: ;
  }

  .secciones div{
    background-color: #;
    width: 10px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

  }

  .secciones img{
    width: 150%;
    height: auto;
    border-radius: 10px;

  }

  