body {
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: red;
}

ul {
    background: linear-gradient(to bottom right, black, grey );
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight:bolder;
    font-size: 18px;
}

ul li a:hover {
    color: black;
    background-color: red;

}

a:hover{
    padding: 15px;
}
