body {
    background-color: red;
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

header {
    background-color: red; 
    width: 100%; 
    padding: 5px 0; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: fixed; 
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); 
}

#titulocabecera {
    width: 25%; 
    height: auto; 
    margin-bottom: 5px;
}

nav.menu {
    width: 100%;
}

nav ul {
    background: linear-gradient(to bottom right, black, grey);
    padding: 15px 0;
    list-style: none;
    display: flex;
    justify-content: space-around; 
    margin: 0;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Catamaran', sans-serif;
    padding: 10px 15px; 
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s; 
}

nav ul li a:hover {
    color: black;
    background-color: white; 
}

@font-face{
    font-family: 'Super Mario';
    src: url(../fonts/chlorinap/CHLORINP.TTF) format('truetype');
    font-family: 'Catamaran';
    src: url(../fonts/catamaran/Catamaran.ttf) format('truetype');
}

#titulocabecera{
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

#sagas {
    padding: 25px 20px;
    background-color: red;
    text-align: center;
    margin-top: 200px;
}

.titulo_sagas {
    font-family: 'Super Mario', Arial, sans-serif;
    color: black;
    font-size: 3rem;
    margin: -10px;
    margin-bottom: 30px;
}

.contenedor_sagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5vw;
    gap: 20px;
}

.contenedores_saga {
    background: linear-gradient(to bottom right, black, grey);
    padding: 15px 0;;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contenedores_saga img {
    width: 100%;
    height: auto;
    display: block;
}

.contenedores_saga h2 {
    font-family: 'Super Mario', Arial, sans-serif;
    font-size: 24px;
    margin: 15px 0;
    color: red;
}

.contenedores_saga p {
    font-family: 'Catamaran', Arial, sans-serif;
    font-size: 16px;
    padding: 0 10px 20px;
    color: white;
}

.contenedores_saga:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

#fotomariokart{
    width: 100%;
    height: 22%;
}

#mariopaperimagen{
    height: 28%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
    text-align: center;
    line-height: 1.5;
}
